appdirs==1.4.2
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.10.6
django-bootstrap3==8.2.1
django-braces==1.11.0
django-colorfield==0.1.12
django-cors-headers==2.0.2
django-environ==0.4.1
django-geoposition==0.3.0
django-polymodels==1.4.5
djangorestframework==3.5.4
gunicorn==19.7.0
packaging==16.8
pip-review==0.5.2
psycopg2==2.7
PyMySQL==0.7.10
pyparsing==2.1.10
python3-openid==3.1.0
shortuuid==0.5.0
six==1.10.0
Unipath==1.1
virtualenv==15.1.0
virtualenvwrapper-win==1.2.1
whitenoise==3.3.0
