dj-database-url==0.4.1
Django==1.10.1
django-bootstrap3==7.0.1
django-braces==1.9.0
django-colorfield==0.1.10
django-environ==0.4.0
django-geoposition==0.3.0
django-oauth2-provider==0.2.6.1
django-polymodels==1.4.5
djangorestframework==3.4.6
gunicorn==19.6.0
psycopg2==2.6.2
PyMySQL==0.7.5
shortuuid==0.4.3
six==1.10.0
Unipath==1.1
virtualenv==15.0.2
virtualenvwrapper-win==1.2.1
whitenoise==3.2.1
