{% extends "base.html" %}

{% block content %}

<h1>Delete Contact</h1>

<form class="form-signin" method="post">{% csrf_token %}
    {% csrf_token %}
    <h2 class="form-signin-heading">Are you sure you want to delete the contact {{ contact }}?</h2>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="confirm">Yes, delete</button>
    <!--<form action="{% url 'listaAlunos' %}">-->
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="cancel">No, cancel</button>
    <!--</form>-->

    <!--<input type="submit" class="btn btn-primary" value="Yes, delete." />-->
    <!--<a href="{% url 'listaAlunos' %}">No, cancel.</a>-->
</form>

{% endblock %}