{% extends "base.html" %}
{% block content %}
<div id="login">
    <form class="form-signin" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <h2 class="form-signin-heading">Bem vindo ao sistema de Notificação</h2>
        <div class="control-group">
            <label for="inputProntuario" class="sr-only">Prontuário</label>
            <div class="controls">
                <input type="text" id="inputProntuario" name="username" class="form-control"
                       onkeypress="mascara(this, '######-#')" maxlength="8" placeholder="Prontuário" required autofocus>
            </div>
        </div>
        <div class="control-group">
            <label for="inputPassword" class="sr-only">Senha</label>
            <div class="controls">
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Senha"
                       required>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Lembre-me
            </label>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="form-group error">
            <div class="col-sm-10">
                <span class="help-inline">
                    <small>{{message}}</small>
                </span>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}