{% extends 'base.html' %}

{% load staticfiles %}

{% block navbar %}
{% block navbarLista %}
{% endblock %}
{% endblock %}

{% block sidenavLeft %}
{% include "sidenavLeft.html" %}
{% endblock %}

{% block sidenavRight %}
{% include "sidenavRight.html" %}
{% endblock %}

{% block content %}
{% block h1Lista %}
{% endblock %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12" onload="myScript()">
            <form action="" method="GET" class="form form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Procurar</label>
                    <div class="col-md-9">
                        <input type="text" id="myInput" onkeyup="busca(1)" placeholder="Busca por nomes..."
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Exibir</label>
                    <div class="col-md-9">
                        <label class="radio-inline"><input type="radio" name="filtro" value="ativo"
                                                           id="a">Ativos</label>
                        <label class="radio-inline"><input type="radio" class="radio-inline" name="filtro"
                                                           value="inativo" id="i">Inativos</label>
                        <label class="radio-inline"><input type="radio" class="radio-inline" name="filtro" value="todos"
                                                           id="t">Todos</label>
                        <script>
                            ativoInativo();
                        </script>
                        <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                    </div>
                </div>
            </form>
            <table class="table" id="myTable">
                <thead>
                <tr>
                    <th class="text-center">Prontuário</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Sobrenome</th>
                    <th class="text-center">Email</th>
                    <th colspan="2" class="text-center" class="col-md-1">Ações</th>
                </tr>
                </thead>
                <tbody id="myTableBody">
                {% for pessoa in lista %}
                {% if forloop.counter|divisibleby:2 %}
                <tr class="success">
                    {% else %}
                <tr class="info">
                    {% endif %}
                    <td>{{ pessoa.username }}</td>
                    <td>{{ pessoa.first_name }}</td>
                    <td>{{ pessoa.last_name }}</td>
                    <td>{{ pessoa.email }}</td>
                    {% block opcoesLista %}
                    {% endblock %}
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}






