{% extends 'base.html' %}
{% load app_filter %}

{% block sidenavLeft %}
{% include "sidenavLeft.html" %}
{% endblock %}

{% block content %}
<div class="col-sm-9">
    {% if user|has_group:"Admin" %}
    <h1>Bem Vindo Administrador!</h1>
    {% else %}
    {% if user|has_group:"Professor" %}
    <h1>Bem Vindo Professor!</h1>
    {% else %}
    {% if user|has_group:"Employee" %}
    <h1>Bem Vindo Servidor!</h1>
    {% else %}
    {% if user|has_group:"Student" %}
    <h1>Bem Vindo Estudante!</h1>
    {% else %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block sidenavRight %}
{% include "sidenavRight.html" %}
{% endblock %}