{% extends 'base.html' %}
{% load app_filter %}

{% block sidenavLeft %}
{% include "sidenavLeft.html" %}
{% endblock %}

{% block content %}
<div class="col-sm-9">
    {% if user|has_group:"Admin" %}
    <h1>Bem-vindo administrador {{ request.user.first_name }}!</h1>
    {% else %}
    {% if user|has_group:"Professor" %}
    <h1>Bem-vindo professor {{ request.user.first_name }}!</h1>
    {% else %}
    {% if user|has_group:"Employee" %}
    <h1>Bem-vindo servidor {{ request.user.first_name }}!</h1>
    {% else %}
    {% if user|has_group:"Student" %}
    <h1>Bem-vindo estudante {{ request.user.first_name }}!</h1>
    {% else %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
</div>
    <!--<iframe align="right" scrolling="no" frameborder="no" clocktype="html5" src="http://www.clocklink.com/html5embed.php?clock=004&timezone=BRST&color=red&size=120&Title=&Message=&Target=&From=2017,1,1,0,0,0&Color=red"></iframe>-->
{% endblock %}

{% block sidenavRight %}
{% include "sidenavRight.html" %}
{% endblock %}