{% load app_filter %}

<!--<ul class="nav nav-pills nav-stacked" data-offset-top="205">-->
    <!--<div class="well well-sm text-center">-->
    {% if user|has_group:"Admin" %}
<div class="well well-sm text-center" onclick="location.href='{% url 'listaInstitutos' %}'">
        <a href="{% url 'listaInstitutos' %}">Cadastro Instituto</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaCursos' %}'">
    <a href="{% url 'listaCursos' %}">Cadastro Curso</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaDisciplinas' %}'">
        <a href="{% url 'listaDisciplinas' %}">Cadastro Disciplina</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaOferecimentos' %}'">
        <a href="{% url 'listaOferecimentos' %}">Cadastro Oferecimento</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaSalaAlunos' %}'">
    <a href="{% url 'listaSalaAlunos' %}">Cadastro Sala Alunos</a>
</div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaSalaProfessores' %}'">
    <a href="{% url 'listaSalaProfessores' %}">Cadastro Sala Professores</a>
</div>
    {% else %}
<!--<p>teste</p>-->
    {% if user|has_group:"Professor" %}
<div class="well well-sm text-center" onclick="location.href='{% url 'listaOferecimentos' %}'">
        <a href="{% url 'listaOferecimentos' %}">Cadastro Oferecimento</a>
    </div>
        <div class="well well-sm text-center" onclick="location.href='{% url 'listaSalaProfessores' %}'">
            <a href="{% url 'listaSalaProfessores' %}">Cadastro Sala Professores</a>
        </div>
    {% else %}
    {% if user|has_group:"Employee" %}

    {% else %}
    {% if user|has_group:"Student" %}
<div class="well well-sm text-center" onclick="location.href='{% url 'listaSalaAlunos' %}'">
    <a href="{% url 'listaSalaAlunos' %}">Cadastro Sala Alunos</a>
</div>
    {% else %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
