{% load app_filter %}

<!--<ul class="nav nav-pills nav-stacked" data-offset-top="205">-->
    <!--<div class="well well-sm text-center">-->
    {% if user|has_group:"Admin" %}
<div class="well well-sm text-center active" onclick="location.href='{% url 'listaAlunos' %}'">
    <a href="{% url 'listaAlunos' %}">Cadastro aluno</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaServidores' %}'">
    <a href="{% url 'listaServidores' %}">Cadastro servidor</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaProfessores' %}'">
    <a href="{% url 'listaProfessores' %}">Cadastro professor</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaNotificacoes' %}'">
    <a href="{% url 'listaNotificacoes' %}">Cadastro notificação</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaLocais' %}'">
    <a href="{% url 'listaLocais' %}">Cadastro local</a>
</div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaTiposNotificacao' %}'">
    <a href="{% url 'listaTiposNotificacao' %}">Cadastro tipo notificação</a>
</div>
    {% else %}
<!--<p>teste</p>-->
    {% if user|has_group:"Professor" %}
<div class="well well-sm text-center" onclick="location.href='{% url 'listaNotificacoes' %}'">
    <a href="{% url 'listaNotificacoes' %}">Cadastro notificação</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaLocais' %}'">
    <a href="{% url 'listaLocais' %}">Cadastro local</a>
</div>
    {% else %}
    {% if user|has_group:"Employee" %}
<div class="well well-sm text-center" onclick="location.href='{% url 'listaNotificacoes' %}'">
    <a href="{% url 'listaNotificacoes' %}">Cadastro notificação</a>
    </div>
<div class="well well-sm text-center" onclick="location.href='{% url 'listaLocais' %}'">
    <a href="{% url 'listaLocais' %}">Cadastro local</a>
</div>
    {% else %}
    {% if user|has_group:"Student" %}
    {% else %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
