{% load app_filter %}

<ul class="nav nav-pills nav-stacked" data-offset-top="205">
    <!--<div class="well well-sm text-center">-->
    {% if user|has_group:"Admin" %}
    <div class="well text-center">
        <a href="{% url 'listaInstitutos' %}">Cadastro Instituto</a>
    </div>
    <div class="well text-center">
        <a href="{% url 'listaServidores' %}">Cadastro Curso</a>
    </div>
    <div class="well text-center">
        <a href="{% url 'listaDisciplinas' %}">Cadastro Disciplina</a>
    </div>
    <div class="well text-center">
        <a href="{% url 'listaTiposNotificacao' %}">Cadastro Tipo Notificação</a>
    </div>
    {% else %}
    <p>teste</p>
    {% if user|has_group:"Professor" %}
    <div class="well text-center">
        <a href="{% url 'listaAlunos' %}">Message Cadastro Aluno</a>
    </div>
    {% else %}
    {% if user|has_group:"Employee" %}
    <div class="well text-center">
        <a href="{% url 'listaAlunos' %}">Message Cadastro Aluno</a>
    </div>
    {% else %}
    {% if user|has_group:"Student" %}
    <div class="well text-center">
        <a href="{% url 'listaAlunos' %}">Message Cadastro Aluno</a>
    </div>
    {% else %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}

    <!-- APAGAR DEPOIS -->
    <p>{{bla}}</p>
    {% if bla %}
    <p>TESTEEEEE</p>
    {% endif %}
</ul>